body
{
	background: url(background.jpg);
	background-size: 150px;
}
.jumbotron
{
	background-color: white;
}
td
{
	border: 1px solid;
	padding: 5px;
}
#newpayform > form > input[type="text"]
{
	width: 400px;
}

input[type="text"]
{
	border-radius: 5px;
	margin: 5px 10px 5px 0px;
}